Join Issue collector.json
{
  "name": "Join Issue collector",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "5c14a4e9-275a-4c7c-bbdf-9cca99aa2702",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "bR5jSPKc312jNfH1",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let emailInfo = {\n  date: $input.first().json.date,\n  subject: $input.first().json.subject,\n  sender: {\n    from: $input.first().json.from,\n    id: $input.first().json.attributes.uid,\n  },\n  textPlain: $input.first().json.textPlain,\n  textHTML: $input.first().json.textHtml,\n}\n\nconst newItem = {\n  ...$input.first().json,\n  emailInfo,\n}\n\nconsole.log(newItem);\nreturn newItem;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [208, 0],
      "id": "93752b07-dfcf-4c09-8d00-8e932bb33bda",
      "name": "Extract Email Info"
    },
    {
      "parameters": {
        "jsCode": "// erzeugt dayKey = 2025-11-11 im UTC Format\nconst now = new Date();\nconst dayKey = now.toISOString().slice(0, 10); \n// optionaler Grenzwert zentral hier\nconst SYSTEM_LIMIT = 10;\nconst daykey = { dayKey, SYSTEM_LIMIT };\n\n\nconst newItem = {\n  ...$input.first().json,\n  daykey,\n}\n\nconsole.log(newItem);\nreturn newItem;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [416, -96],
      "id": "3964d9c6-9631-4eb0-9a92-f3590bb3af19",
      "name": "Generate Day Key"
    },
    {
      "parameters": {
        "jsCode": "let firebaseQuota = $(\"Get Quota\").first().json;\n\nlet parsedOutput = firebaseQuota[0] ? firebaseQuota[0] : 0;\nconsole.log(parsedOutput);\n\nconst quota = {\"quota\": parsedOutput}\nconst newItem = {\n  ...$(\"Generate Day Key\").first().json,\n  quota\n}\n\nreturn newItem;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, -96],
      "id": "912fce21-5e18-4e2a-85c0-8ef8e0576bc0",
      "name": "Get daily quota"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5700720e-50b9-48ee-8702-a2f75a87fff9",
              "leftValue": "={{ $json.quota.quota }}",
              "rightValue": "={{ $json.daykey.SYSTEM_LIMIT }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1248, 0],
      "id": "de52f91b-806d-4f4a-b10f-bcc7e97d87be",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "console.log(\"Quota exceeded\")"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1424, -128],
      "id": "3fb3048f-0a62-4ecd-95ca-10ed37f3bf99",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// quota um 1 erhöhen\nitem.quota = (item.quota.quota || 0) + 1;\n\n// optional: loggen oder zurückgeben\nreturn [item];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 224],
      "id": "e89f9af5-35ac-4613-8b08-49cb4300655e",
      "name": "Update Quota"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://identitytoolkit.googleapis.com/v1/accounts:signInWithPassword?key=AIzaSyBCYwEO4pmMK6U3htxFbNsyf5RJ3zZMttY",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"email\": \"test\",\n  \"password\": \"test\",\n  \"returnSecureToken\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [608, -96],
      "id": "9cc80e4b-e713-4895-8213-8e766f27b822",
      "name": "Authenticate in Firebase"
    },
    {
      "parameters": {
        "url": "=https://join-12c12-default-rtdb.firebaseio.com/categories.json?auth={{ $('Authenticate in Firebase').first().json.idToken }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [384, 224],
      "id": "f0f49663-4bff-4043-bcb5-b9b0dae13111",
      "name": "Get Categories"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Du bist Teil eines Workflows, der basierend auf eingehenden Emails von Stakeholdern Tickets für ein Kanbanboard erstellen soll. Deine Aufgabe ist es, alle Email-Daten zu analysieren und basierend darauf einen Task zu erstellen.\n\nDies ist die Typescript-Repräsentierung des Tasks: export type Task = {\n  title: string;\n  assignedTo: Contact[];\n  dueDate: Date;\n  category: { name: string; color: string };\n  urgency: { name: string; image: string; imageDetail: string };\n  description: string;\n  subtasks: { name: string; completed: boolean }[];\n  status: 'triage';\n  id: number;\n};\n\nAnalysiere den Inhalt der Email und erstelle basierend darauf einen Task, der EXAKT diesem Type entspricht.\n\n\nDie Optionen für urgency sind die folgenden:\n1.: {name: 'urgent', image: 'assets/img/urgent1.svg', imageDetail: 'assets/img/urgentDetail.svg'}\n2.: {name: 'medium', image: 'assets/img/medium.svg', imageDetail: 'assets/img/mediumDetail.svg'}\n3.: {name: 'low', image: 'assets/img/low.svg', imageDetail: 'assets/img/lowDetail.svg'}\n\n\"urgency\" muss IMMER einen dieser drei Werte haben.\nMögliche Kategorien sind folgende (Name | Farbe):\n{{ $json.categories.map(c => `${c.name} | ${c.color}`).join('\\n') }}. Versuche den Task einer dieser Kategorien zuzuordnen. Falls es keine passenden bestehenden Kategorien gibt erstelle eine neue.\n\nDie Id sollte der aktuelle Timestamp in Millisekunden sein (entspricht in JS \"new Date().getTime()\").\n\nHier sind die Daten der Email:\nDatum: {{ $json.emailInfo.date }}\nBetreff: {{ $json.emailInfo.subject }}\nAbsender: {{ $json.emailInfo.sender?.from }}\nText: {{ $json.emailInfo.textPlain }}\n\nHier sind die Kategorien:\n{{ $json.categories }}\n\nGebe mir als Antwort nur den erstellten Task als gültiges JSON zurück, exakt passend zum JSON Schema",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [752, 224],
      "id": "53e7dec5-71e9-49a1-af3e-d944a6dd45f4",
      "name": "AI Agent",
      "executeOnce": true,
      "retryOnFail": false,
      "alwaysOutputData": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [752, 368],
      "id": "0d11eb4e-b830-4344-b439-9dcc8d4be2b7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "4DPdqBRuAYfJMoni",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const emailSource = $(\"Extract Email Info\").first().json;\n\nconst categoryItems = $(\"Get Categories\").all().map(i => i.json);\n\nconst aiInput = {\n  emailInfo: emailSource.emailInfo ?? emailSource,\n  categories: categoryItems,\n};\n\nreturn [{ json: aiInput }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [576, 224],
      "id": "dd26cfe3-f4c8-4e10-8b09-a8ec3b312c59",
      "name": "Prepare AI Input"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"required\": [\n    \"title\",\n    \"assignedTo\",\n    \"dueDate\",\n    \"category\",\n    \"urgency\",\n    \"description\",\n    \"subtasks\",\n    \"status\",\n    \"id\"\n  ],\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"minLength\": 1\n    },\n\n    \"assignedTo\": {\n      \"type\": \"array\",\n      \"minItems\": 0,\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\n          \"email\",\n          \"name\",\n          \"abbrevation\",\n          \"backgroundColor\",\n          \"phoneNumber\"\n        ],\n        \"properties\": {\n          \"email\": {\n            \"type\": \"string\",\n            \"minLength\": 3\n          },\n          \"name\": {\n            \"type\": \"string\",\n            \"minLength\": 1\n          },\n          \"abbrevation\": {\n            \"type\": \"string\",\n            \"minLength\": 1\n          },\n          \"backgroundColor\": {\n            \"type\": \"string\",\n            \"pattern\": \"^rgb\\\\(\\\\s*\\\\d{1,3}\\\\s*,\\\\s*\\\\d{1,3}\\\\s*,\\\\s*\\\\d{1,3}\\\\s*\\\\)$\",\n            \"description\": \"RGB string wie rgb(255,122,1)\"\n          },\n          \"phoneNumber\": {\n            \"type\": \"number\"\n          }\n        }\n      }\n    },\n\n    \"dueDate\": {\n      \"type\": \"string\",\n      \"pattern\": \"^\\\\d{4}-\\\\d{2}-\\\\d{2}$\",\n      \"description\": \"YYYY-MM-DD, zB 2025-12-29\"\n    },\n\n    \"category\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"name\", \"color\"],\n      \"properties\": {\n        \"name\": {\n          \"type\": \"string\",\n          \"minLength\": 1\n        },\n        \"color\": {\n          \"type\": \"string\",\n          \"pattern\": \"^rgb\\\\(\\\\s*\\\\d{1,3}\\\\s*,\\\\s*\\\\d{1,3}\\\\s*,\\\\s*\\\\d{1,3}\\\\s*\\\\)$\",\n          \"description\": \"RGB string wie rgb(32,215,192)\"\n        }\n      }\n    },\n\n    \"urgency\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"name\", \"image\", \"imageDetail\"],\n      \"properties\": {\n        \"name\": {\n          \"type\": \"string\",\n          \"enum\": [\"urgent\", \"medium\", \"low\"]\n        },\n        \"image\": {\n          \"type\": \"string\",\n          \"enum\": [\n            \"assets/img/urgent1.svg\",\n            \"assets/img/medium.svg\",\n            \"assets/img/low.svg\"\n          ]\n        },\n        \"imageDetail\": {\n          \"type\": \"string\",\n          \"enum\": [\n            \"assets/img/urgentDetail.svg\",\n            \"assets/img/mediumDetail.svg\",\n            \"assets/img/lowDetail.svg\"\n          ]\n        }\n      }\n    },\n\n    \"description\": {\n      \"type\": \"string\"\n    },\n\n    \"subtasks\": {\n      \"type\": \"array\",\n      \"minItems\": 0,\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\"name\", \"completed\"],\n        \"properties\": {\n          \"name\": {\n            \"type\": \"string\",\n            \"minLength\": 1\n          },\n          \"completed\": {\n            \"type\": \"boolean\"\n          }\n        }\n      }\n    },\n\n    \"status\": {\n      \"type\": \"string\",\n      \"minLength\": 1\n    },\n\n    \"id\": {\n      \"type\": \"number\"\n    }\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [896, 368],
      "id": "3421cb82-e0f5-40a7-b8b5-7cad044dea93",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "url": "=https://join-12c12-default-rtdb.firebaseio.com/tasks.json?auth={{ $('Authenticate in Firebase').first().json.idToken }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1040, 224],
      "id": "95d4d1ad-3af5-4b8f-90d8-e52d5edd54ca",
      "name": "Get all tasks"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Input 0: bestehende Tasks (Get all tasks)\n * Input 1: neuer Task (AI Agent)\n */\n\n// 1) Bestehende Tasks einsammeln\nconst existingTasks = $input.all(0).map(item => item.json);\n\n// 2) Neuen Task holen\nconst newTask = $('AI Agent').first().json.output;\n\nconsole.log(existingTasks);\n\nif (!newTask) {\n  throw new Error(\"Kein Task vom AI Agent erhalten\");\n}\n\nconsole.log(newTask);\n\n// 3) Zusammenführen\nconst mergedTasks = [...existingTasks, newTask];\nconsole.log(mergedTasks);\n\n// 4) GENAU EIN Item zurückgeben\nreturn [\n  {\n    json: {\n      tasks: mergedTasks\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1248, 224],
      "id": "18fb1c48-5795-4a69-b474-06f8cba2cb89",
      "name": "Add Task to Array"
    },
    {
      "parameters": {
        "url": "=https://join-12c12-default-rtdb.firebaseio.com/quotas/{{ $('Generate Day Key').item.json.daykey.dayKey }}.json?auth={{ $('Authenticate in Firebase').first().json.idToken }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [800, -96],
      "id": "b679cc95-d3c2-4198-8c6f-932a718afcd3",
      "name": "Get Quota",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://join-12c12-default-rtdb.firebaseio.com/quotas/{{ $('Generate Day Key').item.json.daykey.dayKey }}.json?auth={{ $('Authenticate in Firebase').first().json.idToken }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "quota",
              "value": "={{ $json.quota }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [208, 224],
      "id": "8729cee9-2522-4574-bbe5-ca3e1602328e",
      "name": "Update Quota in Firebase"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://join-12c12-default-rtdb.firebaseio.com/tasks.json?auth={{ $('Authenticate in Firebase').first().json.idToken }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.tasks }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1424, 224],
      "id": "d1e8732e-a51e-4452-b788-973a0d4fd793",
      "name": "Update Tasks"
    }
  ],
  "pinData": {
    "Email Trigger (IMAP)": [
      {
        "json": {
          "textHtml": "<div dir=\"auto\"><br><span style=\"font-size:12.8px;background-color:rgb(17,14,8)\">Hallo,</span><div dir=\"auto\" style=\"font-size:12.8px;background-color:rgb(17,14,8)\">Mir ist aufgefallen, dass es bei der Erstellung eines Tasks zum Fehler kommt. Ich kann keine Kontakte zu diesem Task assignen. Dieses Problem muss dringend bis zum 18.12.2025 behoben werden.</div><div dir=\"auto\" style=\"font-size:12.8px;background-color:rgb(17,14,8)\">VG Tobi</div></div>\r\n",
          "textPlain": "Hallo,\r\nMir ist aufgefallen, dass es bei der Erstellung eines Tasks zum Fehler\r\nkommt. Ich kann keine Kontakte zu diesem Task assignen. Dieses Problem muss\r\ndringend bis zum 18.12.2025 behoben werden.\r\nVG Tobi\r\n",
          "metadata": {
            "mime-version": "1.0",
            "message-id": "<CABjJZ298P+XN23t2QFD+y=Sz-GJpTTNykMt2ajtPkD4vOfh-DA@mail.gmail.com>",
            "content-type": "multipart/alternative; boundary=\"0000000000006f95070645fec7be\""
          },
          "attributes": {
            "uid": 3830
          },
          "date": "Mon, 15 Dec 2025 11:53:51 -0300",
          "subject": "Bug bei Task-Erstellung",
          "from": "Tobias Matthies <tobias@test.com>",
          "to": "Tobias Matthies <tobias@test.com>"
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": {
            "title": "Bug bei Task-Erstellung",
            "assignedTo": [
              {
                "email": "tobias@testcom",
                "name": "Tobias Matthies",
                "abbrevation": "TM",
                "backgroundColor": "rgb(123,45,67)",
                "phoneNumber": 0
              }
            ],
            "dueDate": "2025-12-18",
            "category": {
              "name": "Development",
              "color": "rgb(255,138,0)"
            },
            "urgency": {
              "name": "urgent",
              "image": "assets/img/urgent1.svg",
              "imageDetail": "assets/img/urgentDetail.svg"
            },
            "description": "Hallo,\nMir ist aufgefallen, dass es bei der Erstellung eines Tasks zum Fehler\nkommt. Ich kann keine Kontakte zu diesem Task assignen. Dieses Problem muss\ndringend bis zum 18.12.2025 behoben werden.\nVG Tobi",
            "subtasks": [],
            "status": "triage",
            "id": 1734279231000
          }
        }
      }
    ]
  },
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Extract Email Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Info": {
      "main": [
        [
          {
            "node": "Generate Day Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Day Key": {
      "main": [
        [
          {
            "node": "Authenticate in Firebase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get daily quota": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Quota": {
      "main": [
        [
          {
            "node": "Update Quota in Firebase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authenticate in Firebase": {
      "main": [
        [
          {
            "node": "Get Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Categories": {
      "main": [
        [
          {
            "node": "Prepare AI Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Get all tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get all tasks": {
      "main": [
        [
          {
            "node": "Add Task to Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Task to Array": {
      "main": [
        [
          {
            "node": "Update Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Quota": {
      "main": [
        [
          {
            "node": "Get daily quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Quota in Firebase": {
      "main": [
        [
          {
            "node": "Get Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "08e2964c-c4b9-4490-9724-f79e68666692",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7c3d82778fe390a8a96b680fce69390d06ef8ca6ee4f3b830ea49e7ddde74fba"
  },
  "id": "fBaNaxWdWP64UaD6",
  "tags": []
}
